@page "/api/Profesores"

@inject IHttpServicio http

<h3>Lista de Profesores</h3>

<table>
	<tr>
		<th>Usuario</th>
		<th>Estado</th>

	</tr>
	@foreach (var item in listaProfesores)
	{
	 <tr>
		 <td>@item.Usuario</td>
		 <td>@item.Estado</td>
	 </tr>

	}

</table>

@code {
	List<Profesor> listaProfesores;

}
